#b-printer{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x:hidden;

    .printer-container{
        height: 100vh;
        width: 94vw;
        position: absolute;
        right: 0px;

        h1{
            text-align: center;
            padding: 15px;
            font-size: 5vh;
            width: 90vw;
        }

        .grid-container{
            position: relative;
            display: grid;
            height: 88.8vh;
            grid-template-columns: auto auto auto;
            grid-template-rows: 10vh auto;
            grid-gap: 10px;
            padding: 0px 10px;

            div{
                text-align: center;
                font-size: 30px;
                height: 100%;
            }

            .btn-container{
                justify-content: center;
                height: 100%;
                line-height: 10vh;
                
                a{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 3vh;
                    background-color: #4F5CCF;
                    font-weight: 900;
                    outline: 3px solid #4F5CCF;
                    outline-offset: -3px;

                    &:hover{
                        background-color: #fff;
                        color: #4F5CCF;
                    }
                }
            }

            .table-container{
                grid-area: 2 / span 3;
                margin-top: 10px;
                overflow-y: scroll;

                .tbl{
                    min-width: 100%;
                    max-height: 87%;
                    border-collapse: collapse;
                    overflow-y: scroll;
        
                    thead{
                        border-radius: 20px 20px 0 0;
                        tr{
                            height: 100%;
                            width: 100%;
        
                            th{
                                color: #fff;
                                padding: 1vh 0;
                                font-size: 18px;
                                font-weight: 700;
                                position: sticky;
                                top: 0;
                                background-color: #4f5ccf;
                            }
        
                            .th1{
                                width: 15%;
                            }
                            .th2{
                                
                                width: 15%;
                            }
                            .th3{
                                width: 25%;
                                
                            }
                            .th4{
                                width: 15%;
                                
                            }
                        }
                    }
                    
                    tbody{
                        tr:nth-child(even){
                            background-color: #f3f3f3;
                        }
        
                        tr{
                            td{
                                text-align: center;
                                padding: 1% 0;
                                border-bottom: 1px solid #dddddd;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}